
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Main {
    text-align: center;
    display: flex;
    justify-items: center;
    transform: translateX(25%);
}
.Main p, .Main h2{
    text-align: left;
}
.Main h1 {
    text-align: center;
}
input {
    border: 1px solid gray;
    padding: 5px;
    width: 100%;
    border-radius: 7px;
}
button {
    background: none;
}
.Element {
    margin: 6px;
    padding: 2px;
    border-radius: 7px;
    border: 1px solid gray;
    width: 100%;
}